<div th:fragment="offcanvas">
    <div class="offcanvas offcanvas-end" data-bs-theme="dark" tabindex="-1" id="offCanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offCanvasLabel">Triplet</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <div class="d-flex flex-column justify-content-between h-100">
                    <p>site wide search goes here</p>
                <div class="mb-5">
                    <hr>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
                </div>
            </div>
        </div>
    </div>
</div>