<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{ fragments/imports :: head }"></div>
    <title>Dashboard</title>
</head>

<body class="bg-body-secondary" style="margin-top: 120px;">
    <header>
        <div th:replace="~{ fragments/navbar :: navbar }"></div>
        <div th:replace="~{ fragments/offcanvas :: offcanvas }"></div>
    </header>

    <main>
        <div class="container bg-white p-3 rounded-3">
            <h3>What do you need to do today?</h3>
            <a th:href="@{/albums}"><button class="btn btn-sm bg-primary-subtle">View album list</button></a>
        </div>
    </main>

    <footer>

    </footer>
    <!-- Bootstrap js -->
    <div th:replace="~{ fragments/imports :: bsScript }"></div>
</body>

</html>