<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{ fragments/head :: head }"></div>
    <title>Dashboard</title>
</head>

<body class="bg-body-secondary">
    <header>
        <div th:replace="~{ fragments/navbar :: navbar }"></div>
        <div th:replace="~{ fragments/offcanvas :: offcanvas }"></div>
    </header>

    <main>
        <h1>Hello world!</h1>
    </main>

    <footer>

    </footer>
    <!-- Bootstrap js -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js}"
    integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>