/* spinner loader  */
.loader {
    width: 24px;
    height: 24px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-top: -200px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* compact mode switch */
.switch {
    --secondary-container: #3a4b39;
    --primary: #84da89;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.2em;
}

.switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313033;
    transition: .2s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.8em;
    width: 1em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #aeaaae;
    transition: .4s;
}

input:checked+.slider::before {
    background-color: var(--primary);
}

input:checked+.slider {
    background-color: var(--secondary-container);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--secondary-container);
}

input:checked+.slider:before {
    transform: translateX(1.5em);
}

/* custom colors */
#root {
    color: whitesmoke;
}

.button {
    background-color: rgb(115, 101, 178) !important;
    color: whitesmoke;
}

body {
    background-color: rgb(15, 15, 15) !important;
}

#page {
    background-color: rgb(15, 15, 15);
}

.card {
    color: whitesmoke !important;
    background-color: rgb(22, 22, 22) !important;
    border: 1px solid rgb(59, 59, 59) !important;
}

.navbar {
    background-color: rgb(22, 22, 22);
    border-bottom: 1px solid rgb(59, 59, 59) !important;
}

.custom-dark-table {
    background-color: rgb(22, 22, 22) !important;
    color: whitesmoke !important;
}

.custom-dark-table th,
.custom-dark-table td {
    background-color: inherit !important;
    border-color: #333 !important;
    color: whitesmoke !important;
}

.table tbody tr:last-child td {
    border-bottom: 0 !important;
}

.home-div {
    margin-top: 50px;
    padding-block: 2rem;
    background-color: rgb(22, 22, 22);
}

.home-div h1 {
    font-size: 3rem !important;
}

ul {
    list-style: none;
    padding: 0% !important;
}

li {
    background-color: rgb(115, 101, 178);
    max-width: fit-content;
}